
.profilebg {
    width: 100%;
    height: 10vh;
    background-image: url('../../profile.jpg');
    /*background-color:   background:linear-gradient(   #4d7fb2, #184b83);*/

    background-size:cover;
    background-repeat: no-repeat;

}

.personal_data {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 7fr;

}

.profile_img {
    width: 13vh;
    height: 16vh;
}

.description {

    font-size: 12px;
}

.description_name {
    margin-top:0;
    font-weight: bold;
    font-size: 15px;

}

p {
    line-height: 1;
}
