
.profilebg {
    width: 100%;
    height: 100px;
    background-image: url('../../profile.jpg');
    /*background-color:   background:linear-gradient(   #4d7fb2, #184b83);*/

    background-size:contain;
    background-repeat: no-repeat;

}

.personal_data {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 125px 3fr;

}

.profile_img {
    width: 130px;
    height: 160px;
}

.description {
    margin-left: 15px;
    font-size: 12px;
}

.description_name {
    font-weight: bold;
    font-size: 15px;

}

p {
    line-height: 1;
}
