header{
    grid-area:header;

}

.header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background:linear-gradient( #4d7fb2, #184b83);



}

.header_logo{
    margin-left: 95px;
    width: 80px;
    height: 80px;
    /*margin: 0 0 0 5px;*/
}

.enter{
    margin-right: 50px;
    color:#fff;
    font-size: 18px;
    text-decoration: none;
}
.enter:hover{
    color: #ffc81e;
}
