nav{
    grid-area: nav;
}


.sidebar_block {

    background: linear-gradient(#4d7fb2, #184b83);
}

.sidebar_block a{
    text-decoration: none;
    color:#fff;
    font-size: 18px;
}

.sidebar_block a:hover,.sidebar_block a:focus{
    color:#ffc81e;
}


.sidebar_block ul{
    padding: 10px;
    text-align: center;
    list-style-type: none;


}