

.login_page{

}


.login_form {


}

.login_form input{

}
.login_reg{
    margin-bottom: 20px;
}

.login_reg a {
    color:#47525e;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 50px;
}

.login_reg a:hover {
    color:#e1e1e1;

}

.login_reg a:last-child{
    margin-left: 163px;
}

.input_area{

}




input[type="submit"]{
    background-color: #1E90FF;

}


input[type="checkbox"]{
    background-color: #1E90FF;

}

input[type=checkbox]:checked {
    background-color: #a77e2d !important;
    color: #ffffff !important;
}



.inputLogin{
    width:100px;
    margin-left: 80px;

}