
html, body {
  margin: 0 auto;
  height: 100%;
  padding:0 50px 0 50px;

}


#root{
  height:inherit;

}

.App {
  display: grid;

  height: inherit;
grid-template-areas: "header header header"
"nav content content"
"footer footer footer";

  grid-template-rows:1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap:10px;

}





.content {
  grid-area: content;
  background-color:#fff;
  overflow-y:auto;


}















